<HTML>
<head>
</head>
<body>
<form method="POST" action="ajouterproduit.php">
<table>
<caption>Ajouter produit</caption>
<tr>
<td>id_produit</td>
<td><input type="number" name="id_produit"></td>
</tr>
<tr>
<td>nom_produit</td>
<td><input type="text" name="nom_produit"></td>
</tr>
<tr>
<td>type</td>
<td><input type="text" name="type"></td>
</tr>
<tr>
<td>id_categorie</td>
<td><input type="number" name="id_categorie"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>