<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutercategorie.php">
<table>
<caption>Ajouter categorie</caption>
<tr>
<td>id_categorie</td>
<td><input type="number" name="id_categorie"></td>
</tr>
<tr>
<td>nom_categorie</td>
<td><input type="text" name="nom_categorie"></td>
</tr>
<tr>
<td>description</td>
<td><input type="text" name="description"></td>
</tr>

<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>